@import "vars"
@import "fonts"
@import "libs"

body
    font-family: Muller
    background-color: #1d1e1f
    scroll-behavior: smooth
.btn
    padding: 13px 29px
    background: #283e83
    cursor: pointer
    border-radius: 100px
    color: white
    &:hover
        color: white

.title
    color: white
    font-size: 30px
    margin-bottom: 40px
    text-align: center
    font-weight: bold


.navbar
    background-image: url("../img/navbar-bg.png")
    position: relative
    background-size: cover
    background-position: bottom center
    &-img
        left: 0
        z-index: 1
        position: absolute
    .navbar-brand
        margin-right: 124px
        padding-left: 30px
        position: relative
        z-index: 11
    .nav-link
        color: white
        font-size: 1vw
        font-family: MullerExtraBold

.main
    color: white
    padding: 122px 0 53px 0
    background-image: url("../img/main-bg.png")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    span
        font-weight: bold
        font-style: italic
        font-family: MullerBold
    p
        margin-top: 78px
        font-size: 22px

#about
    background-image: url("../img/8.png")
    background-size: contain

.about
    padding-top: 90px
    position: relative
    //background-image: url("../img/2.png")
    background-size: cover
    &-bg
        position: absolute
        right: 0
    .swiper-button-prev
        content: url("../img/prev.png")
        width: 67px
        height: 67px
        opacity: 1
    .swiper-button-next
        content: url("../img/next.png")
        width: 67px
        height: 67px
        opacity: 1
    p
        font-size: 20px
        line-height: 28px
        color: white

.infrastructure
    //background-color: #1d1e1f
    padding-top: 30px
    position: relative
    background-size: cover
    .layer
        position: relative
        width: 50%
        display: block
        margin-right: auto
        margin-left: auto
        &::after
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            background-color: rgba(0,0,0,.4)
            content: ''
        img
            width: 100%
    .btn
        margin-bottom: 60px
    p
        font-size: 20px
        color: white
        position: relative
        z-index: 11
    .swiper-container
        width: 100%
        height: 300px
        margin-left: auto
        margin-right: auto
    .swiper-slide
        background-size: cover
        background-position: center
    .gallery-top
        height: 80%
        width: 100%
    .gallery-thumbs
        height: 20%
        box-sizing: border-box
        padding: 10px 0
        .swiper-slide
            height: 100%
            opacity: 0.4
        .swiper-slide-thumb-active
            opacity: 1
    .swiper-text
        top: 15%
        left: 5%
        font-size: 14px
        width: 90%
.location
    padding-top: 60px
    p
        color: white
        font-size: 20px
        margin: 30px 0
.clever
    padding: 37px 0 60px
    background-image: url("../img/clever-bg.png")
    background-repeat: no-repeat
    background-size: contain
    background-position-x: -35%
    p
        color: white
        font-size: 20px
    span
        color: white
        font-size: 20px
    .fa
        color: #7660c4
        margin-right: 20px
        font-size: 22px
    h3
        color: white

.img-stars
    position: absolute
    z-index: -1
    width: 100%
    &-1
        bottom: 0
        left: 0
    &-2
        top: 0
        right: 0
    &-3
        top: 0
        right: 0
    &-4
        bottom: 0
        right: 0
    &-5
        top: 0
        left: 0


.bg-cosmos
    background-image: url("../img/planning-bg.png")
    background-repeat: no-repeat
    background-position: 100px
.planning
    padding: 60px 0
    .nav-item
        padding: 0 10px
    .nav-link
        font-size: 20px
        color: white
        background-color: #283e83
        border: none !important
        padding: 10px 15px
        border-radius: 27px
        &.active
            background-color: #7660c4
            color: white


footer
    padding: 60px 0 150px
    background-image: url("../img/10.png")
    background-size: cover
    form
        text-align: center
    .title
        margin-bottom: 53px
    label
        flex-direction: column
        display: flex
    span
        color: white
        margin-bottom: 8px
        text-align: left
    h3
        color: white
        font-size: 22px
    input
        background: none
        border: none
        outline: none
        border-bottom: 1px solid gray
        color: white


.bottom-bg
    background-image: url("../img/footer-bg.png")
    background-size: cover
    background-position: top center
    background-repeat: no-repeat
@import "media" // Always at the end
